<!DOCTYPE html>
<html lan="en" xmlns:th="http://thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"></link>
</head>
<body>
	
	<!--header -->
	<div th:replace="~{header::myheader}"></div>
	
	<h1>Thymeleaf Tutorials</h1>
<h1>index page</h1>

<h1 data-th-text="#{youtube.name}"></h1>
<p th:utext="#{youtube.name}"></p>
<p>Today date is ::[[${date}]]</p>
<!--to use dynamic data,we use $ with expression not #-->
<p  th:text="${date}"></p>


<!--but ye sahi tareeka nahi hai ,user ko baar baar likh ke uske properties ko call karna-->
<h2 th:text="${user1.name}"></h2>
<h2 th:text="${user1.id}"></h2>
<h2 th:text="${user1.address}"></h2>


<!--sahi tareeka ::

pehle hm user object ko select kiye th:object="${}" se and then * se har 
properties ko select kiye 

-->


<div th:object="${user1}">

<h3>Id: [[*{id}]]</h3>	
<h3>name: [[*{name}]]</h3>	
<h3>Address: [[*{address}]]</h3>	
		
	
</div>

<a th:href="@{'profile/'+${user1.id}}">profile</a>


<!--literals example-->
<p>
	in two yearsi.e,<span th:text="2023+2" ></span>,i am going to be rich no matter what.
</p>


<!--checking conditions through expressions-->
<div th:if="${status}==true">
	true block
</div>


<!--concatenation of another string using + and with dynamic data-->
<div>welcome to the family of <p th:text="'and the family of Sharma'+${msg}"></p></div>
<h3 th:text="|hello guys welcome to ${msg}|"></h3>



<!--Arithmetic Expression

th:with  expression se hm kisi variable mein value store kar ke rakh sakte hain.

-->

<div th:with="sum=${2+4}">
	sum of 2 and 4 is=[[${sum}]]
	
	<th:block th:if="${sum%2==0}">it is even  </th:block>
	
	
</div>


<!--Another method of writing less than and greater than 
here ge means greater than 
and le means less than.

-->

<div th:if="${2 ge 1}">
	2 is greater than 1
	
</div>






<!--Default Expressions (Elvis Operator) to deal with null value

denoted by ?.
it prevents the code from giving null pointer expception during run time

 -->


<div > user2 id is ::[[${uer2?.id}]]</div>







<!--Setting Attribute Values-->
<h1>Setting Attribute Values</h1>
<input type="submit" value="Subscribe!"
th:attr="value=#{subscribe.submit}"
/>


<!--footer-->
<div th:replace="~{footer::myfooter}"></div>
</body>
</html>